@use '../../scss/abstracts/' as *;
@use 'sass:math';

.revenue-list {
    & > * ~ * {
        margin-top: math.div($spacing, 2);
    }

    &__item {
        &__title {
            color: #fff;
            @include flex(center, space-between);
            font-size: $fontSizeMedium;
            margin-bottom: math.div($spacing, 6);

            span {
                font-weight: 700;
            }
        }
    }
}
.line{
    height: 2px;
    background: #E9EDF7;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:13px;
    margin-top:12px;
    @include tablet {
        width: 25vw;
    }
}