$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #1B2559;
$txtColor: #1B2559;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$fontFamily: 'Montserrat', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarBg: #4977EA;
$sideBarWidth: 226px;
$sideBarWidthRight: 300px;

$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
