@use '../../scss/abstracts/' as *;
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
.title-test {
  color: #000 !important;
  text-align: center;
  padding: 15px 0;
}
input{
  width: 30% !important;
}
.maindiv{
  .block {
    background: white;
    border-radius: 35px;
    font-style: normal;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $txtColor;
    margin-bottom: 10px;

    .question{
      width: 100%;
      text-align: center;

      padding-bottom: 15px;
      padding-top: 15px;
    }

    .answers {

      padding-bottom: 15px;

      .answers {

        margin-bottom: 15px;
        margin-top: 15px;
        padding-left: 10px;

        background: #b4b9c7;
        height: auto;
        border-radius: 8px;
      }
    }
  }
  .acceptBlock{
    display: flex;
    justify-content: space-around;
  }
  .accept{
    background: white;
    border-radius: 35px;
    font-style: normal;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $txtColor;
    height: auto;
    width: 20%;
    margin-top: 10px;


    .acceptText{
      width: 100%;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
    }
  }
}